.agree-help {
    text-align: center;
}
@media (max-device-width: 479px) {
    .login-form-btn-register{
        display: block;
        width: 100%;
        text-align: center;
    }
    .login-form-btn-register .btn {
        width: 100%;
    }
    .jumbotron {
        margin-bottom: 50px;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
}
@media (min-width: 480px) {
    .login-form-btn-register{
        display: block;
        width: 100%;
        text-align: center;
    }
    .login-form-btn-register .btn {
        width: 220px;
    }
    .jumbotron {
        margin-bottom: 50px;
    }
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 7px;
        text-align: left;
    }
    .login-social-container {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .login-form-btn-register{
        display: block;
        width: 100%;
        text-align: center;
    }
    .login-form-btn-register .btn {
        width: 175px;
    }
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 7px;
        text-align: left;
    }
}
@media (min-width: 992px) {
    .login-form-btn-register{
        display: block;
        width: 100%;
        text-align: center;
    }
    .login-form-btn-register .btn {
        width: 160px;
    }
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 7px;
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .login-form-btn-register{
        display: block;
        width: 100%;
        text-align: center;
    }
    .login-form-btn-register .btn {
        width: 160px;
    }
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 7px;
        text-align: right;
    }
}
