{% extends "base_account.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% blocktrans %}Profile{% endblocktrans %}{% endblock %}

    {% block extra_head %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    {% endblock %}

    {% block body %}

    {% block navigation %}
        {% if user.username == profile.user.username %}
        <nav class="navbar navbar-default">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <img src="{% static 'img/logo.png' %}" alt="MyTime100" title="MyTime" width="20" height="20" />
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% block profile_navigation %}

                        <ul id="nav navbar-nav" class="nav navbar-nav">
                        {% block profile_navigation_items %}
                            <li><a href="{% url 'userena_profile_detail' user.username %}"><span class="glyphicon glyphicon-globe"></span> {% trans "View profile" %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> Настройки <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'userena_profile_edit' user.username %}"><span class="glyphicon glyphicon-pencil"></span> Редактировать профиль</a></li>
                                    <li><a href="{% url 'userena_password_change' user.username %}"><span class="glyphicon glyphicon-option-horizontal"></span> Изменить пароль</a></li>
                                    <li><a href="{% url 'userena_email_change' user.username %}"><span class="glyphicon glyphicon-envelope"></span> Сменить email</a></li>
                                </ul>
                            </li>
                        {% endblock %}
                        </ul>

                    {% endblock %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'logout_profile' %}">{% trans "Sign Out" %}</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        {% endif %}
    {% endblock %}

    {% block content %}
    <div class="container index-main">
        <div class="row">
            <div class="col-lg-3 col-sm-3 profile-details">
                <div id="details" class="">
                    {% block profile_details %}
                    <div class="row">
                        <img class="img-thumbnail" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
                    </div>

                    {% block profile_definition_list %}

                    {% if profile.user.get_full_name %}
                    <div class="row profile-details-rows">
                        <span class="profile-details-field">{% trans "Name" %}</span>
                        <span class="profile-details-field">{{ profile.user.get_full_name }}</span>
                    </div>
                        {% else %}
                    <div class="row profile-details-rows">
                        <span class="profile-details-field">{% trans "Name" %}</span>
                        <span class="profile-details-field">{% trans 'Not specified' %}</span>
                    </div>
                    {% endif %}

                    {% if profile.user.email and not hide_email %}
                    <div class="row profile-details-rows">
                        <span class="profile-details-field">{% trans "Email" %}</span>
                        <span class="profile-details-field">{{ profile.user.email }}</span>
                    </div>
                    {% endif %}

                    {% if profile.age %}
                    <div class="row profile-details-rows">
                        <span class="profile-details-field">{% trans "Age" %}</span>
                        <span class="profile-details-field">{{ profile.age }}</span>
                    </div>
                    {% endif %}

                    {% if profile.website %}
                    <div class="row profile-details-rows">
                        <span class="profile-details-field">{% trans "Website" %}</span>
                        <span class="profile-details-field">{{ profile.website|urlize }}</span>
                    </div>
                    {% endif %}

                    {% if profile.location %}
                    <div class="row profile-details-rows">
                        <span class="profile-details-field">{% trans "Location" %}</span>
                        <span class="profile-details-field">{{ profile.location }}</span>
                    </div>
                    {% endif %}

                    {% if profile.about_me %}
                    <div class="row profile-details-rows">
                        <span class="profile-details-field">{% trans "About me" %}</span>
                        <span class="profile-details-field">{{ profile.about_me }}</span>
                    </div>
                    {% endif %}

                    {% endblock %}
                {% endblock %}


                </div>
            </div>


        </div>
    </div>
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="ftr-social-container">
                            <h4>Мы в соцсетях</h4>
                            <div class="ftr-social-icon">
                                <span class="ftr-social-fb">
                                    <a href="https://www.facebook.com/" class="ftr-social-link" target="_blank" title="Страница проекта в Facebook"></a>
                                </span>
                                <span class="ftr-social-tw">
                                    <a href="https://twitter.com/" class="ftr-social-link" target="_blank" title="Страница проекта в Twitter"></a>
                                </span>
                                <span class="ftr-social-vk">
                                    <a href="https://vk.com/" class="ftr-social-link" target="_blank" title="Страница проекта в ВКонтакте"></a>
                                </span>
                                <span class="ftr-social-ok">
                                    <a href="http://ok.ru/" class="ftr-social-link" target="_blank" title="Страница проекта в Одноклассниках"></a>
                                </span>
                                <span class="ftr-social-yt">
                                    <a href="https://www.youtube.com/" class="ftr-social-link" target="_blank" title="Канал проекта на Yuotube"></a>
                                </span>
                                <span class="ftr-social-in">
                                    <a href="https://www.instagram.com/" class="ftr-social-link" target="_blank" title="Страница проекта в Instagram"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="ftr-copy-container">
                        <span class="ftr-copy-link">
                        <a href="">Русский</a>
                        </span>
                        <span class="ftr-copy-link">
                            <a href="about/">О проекте</a>
                        </span>
                        <span class="ftr-copy-link">
                            <a href="policies/">Условия использования</a>
                        </span>
                        <span class="ftr-copy-link">
                            <a href="privacy/">Политика конфиденциальности</a>
                        </span>
                        <span class="ftr-copy-link">
                            <a href="help/">Помощь</a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% endblock %}

    {% block extra_body %}
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
    {% endblock %}