{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}
    {% if request.user.is_authenticated %}
        {% trans "Hello" %} {{ request.user }}
        {% else %}
        {% trans "Welcome" %}!
    {% endif %}
{% endblock %}

    {% block extra_head %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/registration.css' %}"/>

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    {% endblock %}

    <body>
    {% block body %}

    {% block jumbotron %}
        <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-5 logo-left">
                            <p class="logo-text">Капсула</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-2 logo-center">
                            <a href="{% url 'home_page' %}">
                                <img src="{% static 'img/logo.png' %}" class="logo-img" alt="">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-5 logo-right">
                            <p class="logo-text">Времени</p>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}

        {% block content %}
        <div class="container index-main">
            <div class="row">
            {% block login_form %}
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <div class="col-sx-12 colsm-7 col-md-12">
                        <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            {% for field in form %}
                            {% bootstrap_field field layout='horizontal' %}
                            {% endfor %}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <p class="login-form-btn-register"><button type="submit" class="btn btn-success btn-register">{% trans "Sign Up" %}</button></p>
                            <p class="help-block agree-help">Нажимая кнопку <strong>{% trans "Sign Up" %}</strong> вы соглашаетесь с <a href=""><em>условиями использования</em></a> сервиса</p>
                            <p class="help-block agree-help">{% blocktrans %}Already have an account? Then please{% endblocktrans %} <a href="{% url 'home_page' %}">sign in</a>.</p>
                        </form>
                    </div>
                </div>
            {% endblock %}
        {% block static_content %}
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="login-social-container">
                    <h4>Войти с помощью</h4>
                    <div class="login-social-icon">
                        <span class="login-social-fb">
                            <a href="#" class="login-social-link"></a>
                        </span>
                        <span class="login-social-vk">
                            <a href="#" class="login-social-link"></a>
                        </span>
                        <span class="login-social-gp">
                            <a href="#" class="login-social-link"></a>
                        </span>
                    </div>
                </div>
            </div>
        {% endblock %}
            </div>
        </div>
        {% endblock %}

    {% block footer %}
        <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="ftr-social-container">
                                <h4>Мы в соцсетях</h4>
                                <div class="ftr-social-icon">
                                    <span class="ftr-social-fb">
                                        <a href="https://www.facebook.com/" class="ftr-social-link" target="_blank" title="Страница проекта в Facebook"></a>
                                    </span>
                                    <span class="ftr-social-tw">
                                        <a href="https://twitter.com/" class="ftr-social-link" target="_blank" title="Страница проекта в Twitter"></a>
                                    </span>
                                    <span class="ftr-social-vk">
                                        <a href="https://vk.com/" class="ftr-social-link" target="_blank" title="Страница проекта в ВКонтакте"></a>
                                    </span>
                                    <span class="ftr-social-ok">
                                        <a href="http://ok.ru/" class="ftr-social-link" target="_blank" title="Страница проекта в Одноклассниках"></a>
                                    </span>
                                    <span class="ftr-social-yt">
                                        <a href="https://www.youtube.com/" class="ftr-social-link" target="_blank" title="Канал проекта на Yuotube"></a>
                                    </span>
                                    <span class="ftr-social-in">
                                        <a href="https://www.instagram.com/" class="ftr-social-link" target="_blank" title="Страница проекта в Instagram"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <div class="ftr-copy-container">
                            <span class="ftr-copy-link">
                            <a href="">Русский</a>
                            </span>
                            <span class="ftr-copy-link">
                                <a href="about/">О проекте</a>
                            </span>
                            <span class="ftr-copy-link">
                                <a href="policies/">Условия использования</a>
                            </span>
                            <span class="ftr-copy-link">
                                <a href="privacy/">Политика конфиденциальности</a>
                            </span>
                            <span class="ftr-copy-link">
                                <a href="help/">Помощь</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    {% endblock %}

    {% endblock %}

    {% block extra_body %}
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
    {% endblock %}
    </body>
</html>